*{
    margin: 0;
}
.container{
    width: 70%;
    margin: auto;
    border: 1px solid #1E0B94;
    background-image: url(background-image.png);
}
.drag{
    text-align: center;
}

p{
    margin-top: 1rem;
}